*{
  margin: 0;
  padding:  0;
}

.ex-1 {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: pink;
}

.sub {
  display: flex;
}

.mr-5 {
  margin-right: 5px;
}

.ex-2 {
  display: flex;
  flex-direction: column;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: palevioletred;
}

.center{
  align-self: center;
}

.end{
  align-self: flex-end;
}

.ex-3{
  display: flex;
  justify-content: center;
}

.box-big{
  position: relative;
  width: 300px;
  height: 300px;
  background-color: plum;
}

.box-center {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;
  background-color: purple;
}

.box-big2{
  position: relative;
  width: 200px;
  height: 200px;
  background-color: paleturquoise;
}

.box-up {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
  background-color: purple;
}

.ex-5 {
 display: flex;
 justify-content: flex-end;
}

.box-big3{
  width: 400px;
  height: 200px;
  background-color: papayawhip;
  position: absolute;
}

.box-top{
  width: 50px;
  height: 50px;
  background-color: cadetblue;
  position: absolute;
  top:  0;
  right:  0;
}

.box-bottom{
  width: 50px;
  height: 50px;
  background-color: cadetblue;
  position: absolute;
  bottom:  0;
  left:  0;
}