.box {
  width: 200px;
  padding:  20px;
}

.box:first-child {
  border: 50px solid red;
  margin-bottom: 20px;
}

.box.green {
  border: 50px solid green;
  margin-bottom: 20px;
  display:  none;
}

.box.blue {
  border: 50px solid blue;
  background-color: #1abc9c;
}


.challenge2{
  padding:  10%;
}

h1{
  color:  #9b59b6;
}

h1:first-child{
  text-align: center;
}

h1::before {
  content:" Topic:";
  display:  inline-block;
}

p{
  font-size:  16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

p::first-letter{
 font-size: 200%;
 color: #2980b9;
}

.sub-header{
  color:  #2980b9; 
}